@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:600&subset=cyrillic');
html {
	font-family: Montserrat Alternates;
	background-image: url(pics/bg.png);
	background-size: 100%;
	background-repeat: repeat;
}
.blok {
	border-radius: 6px;			/* Округление */
    width: 70%; 				/* Ширина слоя */
    margin-right: auto; 		/* Значение отступов */
	margin-left: auto;
    padding: 1%; 				/* Поля вокруг текста */
    background: #333333;	   /* Цвет фона */
	font-size: 100%;			/* Размер шрифта */
	color: #ff6666;
	opacity: 90%;
}
.slok {
	border-radius: 6px;
    width: 50%;
    margin-right: auto;
	margin-left: auto;
    padding: 1%;
    background: #333333;
	font-size: 100%;
	color: #ff6666;
}
.bblok {
	border-radius: 9px;
    width: 80%;
	opacity: 80%;
    padding: 1%;
    background: #444444;
	margin-right: auto;
	margin-left: auto;
}
.bbblok {
	border-radius: 9px;
    width: 58%;
	opacity: 80%;
    padding: 0%;
    background: #444444;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1.5%;
}
.bbbblok {
	border-radius: 6px;
    width: 90%;
    margin-right: auto;
	margin-left: auto;
    padding: 1%;
    background: #333333;
	font-size: 110%;
	color: #ff6666;
}
.blo {
	border-radius: 9px;
    width: 30%;
    margin-right: auto;
	margin-left: auto;
    padding: 0%;
    background: #333333;
	font-size: 80%;
	color: #ff6666;
	opacity: 80%;
}
a.but {
	display: inline-block;
	border-radius: 16px;			/* Округление */
    width: 40%; 					/* Ширина слоя */
	margin-left: 0%;
    margin-top: -0.5%; 				/* Значение отступов */
    padding: 1%; 					/* Поля вокруг текста */
    background: #333333;		   /* Цвет фона */
	text-decoration: none;
	user-select: none;
	outline: none;
	transition: 0.2s;
	color: #ff6666;
	font-weight: 800;
	font-size: 100%;
	}
	a.but:hover { background: rgba(255,255,255,.2); }		/* При наведении */
	a.but:active { background: gray; }						/* При нажатии */
a.butt {
	display: inline-block;
	border-radius: 9px;			/* Округление */
    width: 94%; 				/* Ширина слоя */
	margin-left: 2%;
	margin-right: 2%;
    margin-top: -1%; 			/* Значение отступов */
    padding: 1%; 				/* Поля вокруг текста */
    background: #333333; 	   /* Цвет фона */
	text-decoration: none;
	user-select: none;
	outline: none;
	transition: 0.2s;
	color: #ff6666;
	font-weight: 800;
	font-size: 100%;
	}
	a.butt:hover { background: rgba(255,255,255,.2); }		/* При наведении */
	a.butt:active { background: gray; }					/* При нажатии */
A {
	color: #ff6666;				/* Цвет ссылок */
	}
A:visited {
	color: #ff6666;				/* Цвет посещенных ссылок */
	}
A:active {
	color: #ff3333;				/* Цвет активных ссылок */
	}
A {
	text-decoration: none;			/* Подчеркивание у ссылки */
	} 
.text {
	font-size: 120%;				/* Размер шрифта */
	color: #ff6666;			   /* Цвет текста */
	}
.button {
  display: inline-block;
  width: auto;
  border-radius: 50%;
  margin: 1.5%;
  padding: 1.5%;
  background: #333333;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #808080;
}
.dotbut {
  display: inline-block;
  width: auto;
  border-radius: 9%;
  margin: 0%;
  padding: 0.3%;
  background: #444444;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.dotbut:hover {
  background: #808080;
}

 /* Подсказки */
 
.dotbutoo {
  display: inline-block;
  width: auto;
  border-radius: 50%;
  margin: 1%;
  padding: 0.3%;
  background: #1e1e1e;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.dotbut:hover {
  background: #808080;
}

[data-hint] {
  position: relative;
  cursor: hint;
}

[data-hint]::after {
    opacity: 0;
    width: 3000%;
    color: #FF6666;
    background-color: rgba(0,0,0,.7);
    border-radius: 10px;
    padding: 20%;
    content: attr(data-hint);
    font-size: 90%;
    position: absolute;
    top: 420%;
    left: 50%;
    transform: translate(-50%, -100%);
    pointer-events: none;
    transition: opacity 0.2s;
}

[data-hint]:hover::after {
    opacity: 1;
}
.bloktoo {
	border-radius: 10px;			/* Округление */
    width: 40%; 				/* Ширина слоя */
	margin-right: auto; 		/* Значение отступов */
	margin-left: auto;
    padding: 1%; 				/* Поля вокруг текста */
    background: #333333;	   /* Цвет фона */
	font-size: 100%;			/* Размер шрифта */
	color: #ff6666;
	opacity: 80%;
}
